
<!-- row -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-sm-6">
            <div class="card">
                <div class="stat-widget-two card-body">
                    <div class="stat-content">
                        <!-- <div class="stat-text"></div> -->
                        <br>
                        <div class="stat-digit"></i>Create User</div>
                        <br>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success w-100" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card">
                <div class="stat-widget-two card-body">
                    <div class="stat-content">
                        <!-- <div class="stat-text"></div> -->
                        <br>
                        <div class="stat-digit"></i>Manage User</div>
                        <br>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary w-100" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>