<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>SimulPaPa </title>
    <!-- Favicon icon -->
    <!-- <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon.png"> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='vendor/owl-carousel/css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/owl-carousel/css/owl.theme.default.min.css') }}"> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='vendor/jqvmap/css/jqvmap.min.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/fullcalendar/css/fullcalendar.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
    
    <!-- Maps -->
    <script src="https://cdn.jsdelivr.net/npm/ol@v9.1.0/dist/ol.js"></script>
    <!-- // import Map from 'ol/Map.js';
    // import OSM from 'ol/source/OSM.js';
    // import TileLayer from 'ol/layer/Tile.js';
    // import View from 'ol/View.js'; -->
    <script src="https://cdn.jsdelivr.net/npm/ol@v9.1.0/Map.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/ol@v9.1.0/source/OSM.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/ol@v9.1.0/layer/Tile.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/ol@v9.1.0/View.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@v9.1.0/ol.css">


</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <a href="/index" class="brand-logo">
                <span class="brand-title"> SimulPaPa </span>
                <!-- <img class="logo-abbr" src="./images/logo.png" alt="">
                <img class="logo-compact" src="./images/logo-text.png" alt="">
                <img class="brand-title" src="./images/logo-text.png" alt=""> -->
            </a>

            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <!-- <div class="header-left">
                            <div class="search_bar dropdown">
                                <span class="search_icon p-3 c-pointer" data-toggle="dropdown">
                                    <i class="mdi mdi-magnify"></i>
                                </span>
                                <div class="dropdown-menu p-0 m-0">
                                    <form>
                                        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                                    </form>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </nav>
            </div>
        </div>

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="quixnav">
            <div class="quixnav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label first">Main Menu</li>
                    <li>
                      <a href="/index" aria-expanded="false"><i
                        class="icon icon-world-2"></i><span class="nav-text">Dashboard</span></a>
                    </li>
                    <li class="nav-label">Users</li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                                class="icon icon-single-04"></i><span class="nav-text">Cases</span></a>
                        <ul id="user_list" aria-expanded="false">
                            
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->


        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body" id="mainContent">
          
        </div>
        <!--**********************************
            Content body end
        ***********************************-->

        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p><a href="https://github.com/themefisher/focus-bootstrap/tree/main">Copyright</a> 2024.03 Modified and Developed by Xucheng Zhang</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->
        
        <div class="modal fade none-border" id="event-modal" style="display: none;" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"><strong>Add New Event</strong></h4>
                    </div>
                    <div class="modal-body"><form><div class="row"><div class="col-md-6"><div class="form-group"><label class="control-label">Event Name</label><input class="form-control" placeholder="Insert Event Name" type="text" name="title"></div></div><div class="col-md-6"><div class="form-group"><label class="control-label">Category</label><select class="form-control" name="category"><option value="bg-danger">Danger</option><option value="bg-success">Success</option><option value="bg-dark">Dark</option><option value="bg-primary">Primary</option><option value="bg-pink">Pink</option><option value="bg-info">Info</option><option value="bg-warning">Warning</option></select></div></div></div></form></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success save-event waves-effect waves-light">Create
                            event</button>

                        <button type="button" class="btn btn-danger delete-event waves-effect waves-light" data-dismiss="modal" style="display: none;">Delete</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="{{ url_for('static', filename='vendor/global/global.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/quixnav-init.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.min.js') }}"></script>


    <!-- Vectormap -->
    <script src="{{ url_for('static', filename='vendor/raphael/raphael.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/morris/morris.min.js') }}"></script>


    <script src="{{ url_for('static', filename='vendor/circle-progress/circle-progress.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/chart.js/Chart.bundle.min.js') }}"></script>

    <script src="{{ url_for('static', filename='vendor/gaugeJS/dist/gauge.min.js') }}"></script>

    <!--  flot-chart js -->
    <script src="{{ url_for('static', filename='vendor/flot/jquery.flot.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/flot/jquery.flot.resize.js') }}"></script>

    <!-- Owl Carousel -->
    <script src="{{ url_for('static', filename='vendor/owl-carousel/js/owl.carousel.min.js') }}"></script>

    <!-- Counter Up -->
    <script src="{{ url_for('static', filename='vendor/jqvmap/js/jquery.vmap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/jqvmap/js/jquery.vmap.usa.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/jquery.counterup/jquery.counterup.min.js') }}"></script>

    <script src="{{ url_for('static', filename='vendor/jqueryui/js/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/moment/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/fullcalendar/js/fullcalendar.min.js') }}"></script>
    
    <!-- Google Map -->

    <!-- Word Cloud -->
    <script src="https://cdn.jsdelivr.net/npm/stopword/dist/stopword.umd.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/holtzy/D3-graph-gallery@master/LIB/d3.layout.cloud.min.js"></script>


    <script src="{{ url_for('static', filename='js/dashboard/dashboard-1.js') }}"></script>
    <script src="{{ url_for('static', filename='draw.js') }}"></script>
    <script src="{{ url_for('static', filename='calendar.js') }}"></script>
    <script src="{{ url_for('static', filename='custom.js') }}"></script>


</body>

</html>