
<!-- row -->
<div class="container-fluid">
    <div class="row page-titles mx-0">
        <div class="col-sm-6 p-md-0">
            <div class="welcome-text">
                <h4>SimulPaPa</h4>
                <p class="mb-0">Case Simulation Results</p>
            </div>
        </div>

        <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" ><a href="javascript:void(0)">Case</a></li>
                <li class="breadcrumb-item active" ><a href="javascript:void(0)" id="top-user-name">Casename</a></li>
            </ol>
        </div>
    </div>

    <div class="col-md-12 row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title mb-1">Intervention Plan</h3>
                    <h5 class="card-subtitle text-body-secondary mb-1">Enter your intervention plan, apply it to regenerate finished simulation or continue multiple-day simulation.</h5>
                    <div class="col-md-12 row">
                        <div class="post-input col-md-7">
                            <textarea name="textarea" id="intervention_plan" cols="30" rows="5" class="form-control bg-transparent" placeholder="Please type your intervention plan"></textarea>
                        </div>
                        <div class="col-md-3">
                            <div class="col-md-12 mx-0 my-1 p-0">Select the agent who will take the plan</div>
                            <div class="col-md-12 my-1 p-0 btn-group">
                                <button class="btn btn-secondary" type="button" onclick="inter_all_agent()">All</button>
                                <button class="btn btn-secondary" type="button" onclick="inter_random_agent()">Random Half</button>
                                <button class="btn btn-secondary" type="button" onclick="inter_clear_agent()">Clear</button>
                            </div>
                            <div class="basic-list-group col-md-10 mx-3 mt-2 px-0">
                                <div class="btn-group-vertical col-md-12" id="agent-btn-group">
                                    <!-- <button class="btn btn-primary" type="button">Button</button> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <a href="javascript:void()" onclick="start_simulation()" class="btn btn-primary col-md-12 m-2">Regenerate All</a>
                            <a href="javascript:void()" onclick="continue_simulation()" class="btn btn-primary col-md-12 m-2">Continue</a>
                            <div class="row col-12 p-0 m-2">
                                <span class="col-6 px-0 py-2">Days:</span>
                                <input type="number" class="form-control col-6 px-0" name="new_days" value="1">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <!-- Modal -->
                    <div class="modal fade" id="CaseInfoModal">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Information</h5>
                                    <button id="case_info_close" type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                                </div>
                                <div class="modal-body">
                                    <div class="basic-form">
                                        <form id="modify_user_form">
                                            <div class="col-md-12, m-3">
                                                <p id="modal-description"></p>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label for="username">Casename</label>
                                                    <input type="text" class="form-control" name="username" readonly>
                                                </div>
                                                <div class="form-group col-md-6"></div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-4">
                                                    <label for="name">Name</label>
                                                    <input type="text" class="form-control" name="name">
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label for="gender">Gender</label>
                                                    <select class="form-control" name="gender">
                                                        <option>None</option>
                                                        <option>Male</option>
                                                        <option>Female</option>
                                                        <option>Other</option>
                                                    </select>
                                                </div>
                                                <div class="form-group  col-md-4">
                                                    <label for="race">Race</label>
                                                    <input type="text" class="form-control" name="race">
                                                </div>
                                            </div>
                            
                                            <div class="form-row">
                                                <div class="form-group col-md-4">
                                                    <label for="birthday">Birthday</label>
                                                    <input type="date" class="form-control" name="birthday">
                                                </div>
                                                <div class="form-group col-md-8">
                                                    <label for="disease">Disease</label>
                                                    <input type="text" class="form-control" name="disease" placeholder="Multiple inputs supported">
                                                </div>
                                            </div>
                            
                                            <div class="form-row">
                                                <div class="form-group col-md-4">
                                                    <label for="building">Building</label>
                                                    <input type="text" class="form-control" name="building">
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label for="street">Street</label>
                                                    <input type="text" class="form-control" name="street">
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label for="district">District</label>
                                                    <input type="text" class="form-control" name="district">
                                                </div>
                                            </div>
                            
                                            <div class="form-row">
                                                <div class="form-group col-md-4">
                                                    <label for="city">City</label>
                                                    <input type="text" class="form-control" name="city">
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label for="state">State</label>
                                                    <input type="text" class="form-control" name="state">
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label for="zipcode">Zipcode</label>
                                                    <input type="text" class="form-control" name="zipcode">
                                                </div>
                                            </div>
                            
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label for="education">Education</label>
                                                    <input type="text" class="form-control" name="education">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="language">Speaking Language</label>
                                                    <input type="text" class="form-control" name="language">
                                                </div>
                                            </div>
                                            
                                            <div class="form-row">
                                                <div class="form-group col-md-8">
                                                    <label for="industry">Industry</label>
                                                    <input type="text" class="form-control" name="industry">
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label for="occupation">Occupation</label>
                                                    <input type="text" class="form-control" name="occupation">
                                                </div>
                                            </div>
                            
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label for="income">Income</label>
                                                    <input type="text" class="form-control" name="income">
                                                </div>
                                                
                                                <div class="form-group col-md-6">
                                                    <label for="retirement">Retirement</label>
                                                    <select class="form-control" name="retirement">
                                                        <option>None</option>
                                                        <option>Yes</option>
                                                        <option>No</option>
                                                    </select>
                                                </div>
                                            </div>
                                            
                                            <div class="form-group">
                                                <label for="company">Company</label>
                                                <input type="text" class="form-control" name="company">
                                            </div>
                            
                                            <div class="form-group">
                                                <label for="work_addr">Work Address</label>
                                                <input type="text" class="form-control" name="work_addr">
                                            </div>
                        
                        
                                            <div class="row">
                                                <div class="col-md-3 form-group">
                                                    <label for="company">Start Date</label>
                                                    <input type="date" class="form-control" name="start_date" value="2024-03-01">
                                                </div>
                                                <div class="col-md-3 form-group">
                                                    <label for="company">Simulation Day(s)</label>
                                                    <input type="number" class="form-control" name="simul_days" value="1">
                                                </div>
                                                <div class="col-md-3 form-group">
                                                    <label for="company">Agents Size</label>
                                                    <input type="number" class="form-control" name="agents_size" value="5">
                                                </div>
                                                <!-- <div class="col-md-3 pt-4">
                                                    <button type="submit" class="btn btn-primary mt-2">Confirm</button>
                                                </div> -->
                                            </div>
                                            
                                            
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-outline-primary">Save changes</button>
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="status_area" class="alert alert-success solid alert-right-icon col-md-12 mb-1">
                        <span><i id="status_icon" class="mdi mdi-check"></i></span>
                        <b id="status_text">Ready</b> 
                    </div>

                    <div class="row col-md-12 px-0 mx-0">
                        <div class="col-md-4 mt-2 mx-0 p-2">
                            <button class="w-100 btn btn-lg btn-outline-dark" data-toggle="modal" data-target="#CaseInfoModal">Case Details</button>
                        </div>
                        <div class="col-md-4 mt-2 mx-0 p-2">
                            <button class="w-100 btn btn-lg btn-outline-dark" id="generate_agent_btn" onclick="GenerateAgentsPool()">Generate Agents</button>
                        </div>
                        <div class="col-md-4 mt-2 mx-0 p-2">
                            <button class="w-100 btn btn-lg btn-outline-dark" id="generate_pool_btn" onclick="GenerateInfoTree()">Generate InfoTree</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row col-md-12">
        
        <div class="col-md-2">
            <div class="card px-0 mx-0 mb-3">
                <div class="card-body">
                    <div class="year-calendar">
                    </div>
                </div>
            </div>
            <div class="card px-0 mx-0 mb-3">
                <div class="card-header">
                    <a href="javascript:void()" onclick="loadContent('back')" class="btn btn-primary col-md-8 mx-5">Overall</a>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Agents</h4>
                    <div class="basic-list-group col-md-12 p-0">
                        <div class="list-group col-md-10 mx-3 p-0" id="agent_list">
                            <!-- <a class="list-group-item list-group-item-action" onclick="loadAgent(1)">Agent 1</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-10" id="display-area">
            <div class="row">

                <div class="col-lg-9 col-sm-9">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Daily Activity Distribution</h4>
                        </div>
                        <div class="card-body"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                            <canvas id="daily_activity" width="1296" height="648" style="display: block; height: 324px; width: 648px;" class="chartjs-render-monitor"></canvas>
                        </div>
                    </div>
                </div>
        
                <div class="col-lg-3 col-sm-3">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Activity Distribution</h4>
                        </div>
                        <div class="card-body"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                            <canvas id="activity_bar" width="1296" height="648" style="display: block; height: 324px; width: 648px;" class="chartjs-render-monitor"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="row">
                <div class="col-lg-9 col-sm-9">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Heartrate Estimation</h4>
                        </div>
                        <div class="card-body"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                            <canvas id="heartrate" width="1296" height="648" style="display: block; height: 324px; width: 648px;" class="chartjs-render-monitor"></canvas>
                        </div>
                    </div>
                </div>
        
                <div class="col-lg-3 col-sm-3">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Heartrate-Activity</h4>
                        </div>
                        <div class="card-body"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                            <canvas id="h-a-sankey" width="1296" height="648" style="display: block; height: 324px; width: 648px;" class="chartjs-render-monitor"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>