
<!-- row -->
<div class="container-fluid">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Intervention Plan</h5>
            </div>
            <div class="card-body">
                <div class="post-input">
                    <textarea name="textarea" id="intervention_area" cols="30" rows="5" class="form-control bg-transparent" placeholder="Please type your intervention plan"></textarea>
                </div>
                <div class="row col-md-12">
                    <div class="col-md-3"></div>
                    <a href="javascript:void()" onclick="start_simulation()" class="btn btn-primary col-md-2 m-2">Regenerate</a>
                    <a href="javascript:void()" onclick="continue_simulation('1')" class="btn btn-primary col-md-2 m-2">Generate a New Day</a>
                    <input type="number" class="form-control col-md-1 m-2" name="new_days" value="1">
                    <a href="javascript:void()" onclick="continue_simulation()" class="btn btn-primary col-md-3 m-2">Generate Multiple Days</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <!-- <div class="alert alert-success solid alert-right-icon alert-dismissible fade show">
                    <span><i id="status_icon" class="mdi mdi-check"></i></span>
                    <b id="status_text">Ready</b> 
                </div>
                <div class="row">
                    <div class="col-md-8"></div>
                    <div class="col-md-2">
                        <button onclick="GenerateAgentsPool()" class="btn btn-outline-dark">Regenerate Agents</button>
                    </div>
                    <div class="col-md-2">
                        <button onclick="GenerateInfoTree()"  class="btn btn-outline-dark">Regenerate InfoTree</button>
                    </div>
                </div> -->
                <div class="row">
                    <div id="status_area" class="alert alert-success solid alert-right-icon col-md-8 mb-0">
                        <span><i id="status_icon" class="mdi mdi-check"></i></span>
                        <b id="status_text">Ready</b> 
                    </div>
                    <div class="col-md-2 mt-2">
                        <button id="generate_agent_btn" onclick="GenerateAgentsPool()" class="btn btn-lg btn-outline-dark ml-5">Generate Agents</button>
                    </div>
                    <div class="col-md-2 mt-2">
                        <button id="generate_pool_btn" onclick="GenerateInfoTree()" class="btn btn-lg btn-outline-dark ml-2">Generate InfoTree</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row col-md-12">
        <div class="card col-md-2">
            <div class="card-header">
                <h4 class="card-title">Agents</h4>
                <div class="btn-group mt-2">
                    <span class="btn btn-dark ml-3">
                        <input type="checkbox" id="agents-list-all">
                    </span>
                    <button class="btn btn-dark" type="button" id="agents-list-clear"><i class="ti-reload"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <ul id="agent_list" class="list-group agent-list">
                    <!-- <li class="list-group-item">
                        <div class="row">
                            <div class="custom-control custom-checkbox col-md-4"><input type="checkbox"></div>
                            <div class="col-md-8"><a onclick="loadAgent(1)">Agent 1</a></div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="custom-control custom-checkbox col-md-4"><input type="checkbox"></div>
                            <div class="col-md-8">Agent 2</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="custom-control custom-checkbox col-md-4"><input type="checkbox"></div>
                            <div class="col-md-8">Agent 3</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="custom-control custom-checkbox col-md-4"><input type="checkbox"></div>
                            <div class="col-md-8">Agent 4</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="custom-control custom-checkbox col-md-4"><input type="checkbox"></div>
                            <div class="col-md-8">Agent 5</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="custom-control custom-checkbox col-md-4"><input type="checkbox"></div>
                            <div class="col-md-8">Agent 6</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="custom-control custom-checkbox col-md-4"><input type="checkbox"></div>
                            <div class="col-md-8">Agent 7</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="custom-control custom-checkbox col-md-4"><input type="checkbox"></div>
                            <div class="col-md-8">Agent 8</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="custom-control custom-checkbox col-md-4"><input type="checkbox"></div>
                            <div class="col-md-8">Agent 9</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="custom-control custom-checkbox col-md-4"><input type="checkbox"></div>
                            <div class="col-md-8">Agent 10</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="custom-control custom-checkbox col-md-4"><input type="checkbox"></div>
                            <div class="col-md-8">Agent 11</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="custom-control custom-checkbox col-md-4"><input type="checkbox"></div>
                            <div class="col-md-8">Agent 12</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="custom-control custom-checkbox col-md-4"><input type="checkbox"></div>
                            <div class="col-md-8">Agent 13</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="custom-control custom-checkbox col-md-4"><input type="checkbox"></div>
                            <div class="col-md-8">Agent 14</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="custom-control custom-checkbox col-md-4"><input type="checkbox"></div>
                            <div class="col-md-8">Agent 15</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="custom-control custom-checkbox col-md-4"><input type="checkbox"></div>
                            <div class="col-md-8">Agent 16</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="custom-control custom-checkbox col-md-4"><input type="checkbox"></div>
                            <div class="col-md-8">Agent 17</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="custom-control custom-checkbox col-md-4"><input type="checkbox"></div>
                            <div class="col-md-8">Agent 18</div>
                        </div>
                    </li> -->
                </ul>
            </div>
        </div>

        <div class="col-lg-10">
            <div class="row">

                <div class="col-lg-9 col-sm-9">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Daily Activity Distribution</h4>
                        </div>
                        <div class="card-body"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                            <canvas id="daily_activity" width="1296" height="648" style="display: block; height: 324px; width: 648px;" class="chartjs-render-monitor"></canvas>
                        </div>
                    </div>
                </div>
        
                <div class="col-lg-3 col-sm-3">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Activity Distribution</h4>
                        </div>
                        <div class="card-body"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                            <canvas id="activity_bar" width="1296" height="648" style="display: block; height: 324px; width: 648px;" class="chartjs-render-monitor"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="row">
                <div class="col-lg-9 col-sm-9">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Heartrate Estimation</h4>
                        </div>
                        <div class="card-body"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                            <canvas id="heartrate" width="1296" height="648" style="display: block; height: 324px; width: 648px;" class="chartjs-render-monitor"></canvas>
                        </div>
                    </div>
                </div>
        
                <div class="col-lg-3 col-sm-3">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Heartrate-Activity</h4>
                        </div>
                        <div class="card-body"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                            <canvas id="h-a-sankey" width="1296" height="648" style="display: block; height: 324px; width: 648px;" class="chartjs-render-monitor"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>