
<!-- row -->
<div class="container-fluid">
    <div class="row page-titles mx-0">
        <div class="col-sm-6 p-md-0">
            <div class="welcome-text">
                <h4>SimulPaPa</h4>
                <p class="mb-0">Case Simulation Results</p>
            </div>
        </div>

        <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" ><a href="javascript:void(0)">Case</a></li>
                <li class="breadcrumb-item active" ><a href="javascript:void(0)" id="top-user-name">Casename</a></li>
            </ol>
        </div>
    </div>
    <!-- <div class="row page-titles mx-0">
        <div class="col-sm-5 p-md-0">
            <div class="welcome-text pt-2">
                <h4 id="agent-name">Agent 1</h4>
            </div>
        </div>
        <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" ><a href="javascript:void(0)" id="user-name">timberzhang</a></li>
                <li class="breadcrumb-item active" ><a href="javascript:void(0)" id="agent-name-link">Agent 1</a></li>
            </ol>
        </div>
    </div> -->

    <div class="col-md-12 row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title mb-1">Intervention Plan</h3>
                    <h5 class="card-subtitle text-body-secondary mb-1">Enter your intervention plan, apply it to regenerate finished simulation or continue multiple-day simulation.</h5>
                    <div class="col-md-12 row">
                        <div class="post-input col-md-7">
                            <textarea name="textarea" id="intervention_area" cols="30" rows="5" class="form-control bg-transparent" placeholder="Please type your intervention plan"></textarea>
                        </div>
                        <div class="col-md-3">
                            <div class="col-md-12 mx-0 my-1 p-0">Select the agent who will execute the plan</div>
                            <div class="col-md-12 my-1 p-0 btn-group">
                                <button class="btn btn-secondary" type="button" id="agent-all-btn">All</button>
                                <button class="btn btn-secondary" type="button" id="agent-random-btn">Random Half</button>
                                <button class="btn btn-secondary" type="button" id="agent-clear-btn">Clear</button>
                            </div>
                            <div class="basic-list-group col-md-10 mx-3 mt-2 px-0">
                                <div class="btn-group-vertical col-md-12" id="agent-btn-group">
                                    <!-- <button class="btn btn-primary" type="button">Button</button> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <a href="javascript:void()" onclick="start_simulation()" class="btn btn-primary col-md-12 m-2">Regenerate All</a>
                            <a href="javascript:void()" onclick="continue_simulation()" class="btn btn-primary col-md-12 m-2">Continue</a>
                            <div class="row col-12 p-0 m-2">
                                <span class="col-6 px-0 py-2">Days:</span>
                                <input type="number" class="form-control col-6 px-0" name="new_days" value="1">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">

                    <div id="status_area" class="alert alert-success solid alert-right-icon col-md-12 mb-1">
                        <span><i id="status_icon" class="mdi mdi-check"></i></span>
                        <b id="status_text">Ready</b> 
                    </div>

                    <div class="row col-md-12">
                        <div class="col-md-6 mt-2 d-flex justify-content-center">
                            <button id="generate_agent_btn" onclick="GenerateAgentsPool()" class="btn btn-lg btn-outline-dark">Generate Agents</button>
                        </div>
                        <div class="col-md-6 mt-2 d-flex justify-content-center">
                            <button id="generate_pool_btn" onclick="GenerateInfoTree()" class="btn btn-lg btn-outline-dark">Generate InfoTree</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row col-md-12">
        <div class="card col-md-2">
            <div class="card-header">
                <a href="javascript:void()" onclick="loadContent('back')" class="btn btn-primary col-md-8 mx-5">Overall</a>
            </div>
            <div class="card-body">
                <h4 class="card-title">Agents</h4>
                <div class="basic-list-group col-md-12 p-0">
                    <div class="list-group col-md-10 mx-3 p-0" id="agent_list">
                        <!-- <a class="list-group-item list-group-item-action" onclick="loadAgent(1)">Agent 1</a> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-10" id="display-area">
            <div class="row">

                <div class="col-lg-9 col-sm-9">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Daily Activity Distribution</h4>
                        </div>
                        <div class="card-body"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                            <canvas id="daily_activity" width="1296" height="648" style="display: block; height: 324px; width: 648px;" class="chartjs-render-monitor"></canvas>
                        </div>
                    </div>
                </div>
        
                <div class="col-lg-3 col-sm-3">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Activity Distribution</h4>
                        </div>
                        <div class="card-body"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                            <canvas id="activity_bar" width="1296" height="648" style="display: block; height: 324px; width: 648px;" class="chartjs-render-monitor"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="row">
                <div class="col-lg-9 col-sm-9">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Heartrate Estimation</h4>
                        </div>
                        <div class="card-body"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                            <canvas id="heartrate" width="1296" height="648" style="display: block; height: 324px; width: 648px;" class="chartjs-render-monitor"></canvas>
                        </div>
                    </div>
                </div>
        
                <div class="col-lg-3 col-sm-3">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Heartrate-Activity</h4>
                        </div>
                        <div class="card-body"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                            <canvas id="h-a-sankey" width="1296" height="648" style="display: block; height: 324px; width: 648px;" class="chartjs-render-monitor"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>