.form.label {
    font-weight: bold;
    font-size: large;
    color: black;
}

.agent-list{
    /* max-height: 450px; */
    height: 450px;
    margin-bottom: 10px;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
}

.agent-btn-list{
    max-height: 150px;
    justify-content: start !important;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
}

.equal {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
  }

.agent-list-group-item-action {
    width: 90%;
    color: #495057;
    text-align: inherit; }
.agent-list-group-item-action:hover, .agent-list-group-item-action:focus {
    width: 100%;
    padding-left: 30px;
    z-index: 5;
    color: #fafafa;
    text-decoration: none;
    background-color: #593bdb; }


.map {
    height: 400px;
}

.popover {
    max-width: 400px !important;
}

.table {
    color: black !important;
}