.form.label {
    font-weight: bold;
    font-size: large;
    color: black;
}

.agent-list{
    /* max-height: 450px; */
    height: 450px;
    margin-bottom: 10px;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
}

.agent-btn-list{
    max-height: 150px;
    justify-content: start !important;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
}

.equal {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
  }

.agent-list-group-item-action {
    width: 90%;
    color: #495057;
    text-align: inherit; }
.agent-list-group-item-action:hover, .agent-list-group-item-action:focus {
    width: 100%;
    padding-left: 30px;
    z-index: 5;
    color: #fafafa;
    text-decoration: none;
    background-color: #593bdb; }


.map {
    height: 600px;
}

.map-scale {
    background-image: linear-gradient(to right, rgba(0,255,0,1), rgba(255,0,0,1) );
}

.popover {
    max-width: 400px !important;
}

.table {
    color: black !important;
}


.balonuser, .balonbot {

	margin-top: 5px !important;
	margin-bottom: 5px !important;

	}

.balon-img {
    background: #ffffff;
    position: relative;
    width: 48px;
    height: 48px;
    border-radius: 15%;
}

.balonuser a {
    height: fit-content;
	background: #42a5f5;
	color: #ffffff !important;
	border-radius: 20px 20px 3px 20px;
	display: block;
	max-width: 75%;
	padding: 7px 13px 7px 13px;
	}



.balonuser:before {

	content: attr(data-is);
	position: absolute;
	right: 65px;
	bottom: -0.8em;
	display: block;
	font-size: .750rem;
	color: rgba(84, 110, 122,1.0);
	
	}

.balonbot a {
    height: fit-content;
	background: #f1f1f1;
	color: #000 !important;
	border-radius: 20px 20px 20px 3px;
	display: block;
	max-width: 75%;
	padding: 7px 13px 7px 13px;
	
}
	
.balonbot:before {

	content: attr(data-is);
	position: absolute;
	left: 65px;
	bottom: -0.8em;
	display: block;
	font-size: .750rem;
	color: rgba(84, 110, 122,1.0);
  
	}


.chat-frame {
    display: flex;
    flex-direction: column;
    height: 600px;
    max-height: 590px;
    background: #d6edb7;
	border-radius: 10px;
    border:2px solid black;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
}


.ol-popup {
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
  }
  .ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  .ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
  }
  .ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
  }
  .ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
  }
  .ol-popup-closer:after {
    content: "✖";
  }


